.container-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.container-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.box-r {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  background-color: #f1e4ff;
  color: black;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: #7d5fff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s ease;
}

.btn:hover {
  background-color: #5a3fc8; 
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
  background-color: #482ea1;
}

.btn-secondary {
  background-color: white;
  color: #7d5fff;
  border: 2px solid #7d5fff;
}

.btn-secondary:hover {
  background-color: #7d5fff;
  color: white;
}

.h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white
}

body {
  background-color: #9780ff;
}

.main {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
}

.app-navbar {
  width: 100%;
  background-color: #ffffff;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar-logo {
  font-size: 20px;
  color: rgb(157, 0, 149);
  text-decoration: none;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-right: 5vw;
}

.navbar-user {
  font-weight: bold;
  margin-right: 10px;
}

.main-container {
  padding: 20px;
}
