.container-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  align-self: center;
}

.box-r {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  background-color: #f1e4ff;
  color: black;
  border-radius: 10px;
}

.box-r-dark {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  background-color: #180031;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border-color: #9973f0;
}

.box-c-dark {
  flex: 1;                   /* permite que crezca */
  padding: 20px;
  background-color: #180031;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #9973f0;
}

.login-btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: #7d5fff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s ease;
  width: 100%;
}

.login-btn:hover {
  background-color: #b6a5fe;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: #7d5fff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s ease;
}

.btn:hover {
  background-color: #813fa5; 
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
  background-color: #772ca0;
}

.btn-secondary {
  background-color: rgb(23, 0, 33);
  color: #ffffff;
  border-color: #7200b0;
}

.btn-secondary:hover {
  background-color: #7d5fff;
  color: white;
}

.h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white
}

.h1-white {
  text-align: left;
  color: white;
  text-shadow: rgba(255, 255, 255, 0.388);
}
.h1-purple {
  color: #a600ff;
  text-align: center;
  text-decoration: underline;
}
.h1-purple:hover {
  color: #dd9dff;
  cursor: pointer;
}

body {
  background-color: #ffffff;
}

.main {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1b0033;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.822);
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(42, 0, 61);
}

.navbar-logo {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-right: 5vw;
}

.navbar-user {
  font-weight: bold;
  margin-right: 10px;
}

.main-container {
  padding: 20px;
}

.svg-wrapper svg {
  width: 100%;
  height: auto;
}
