{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
<div class="main">
    <h1> Bienvenido a Cabra Courses! </h1>
    <div class="container-flex">
        <div class="box-c-dark">
            <h2> Inscribe cursos </h2>
            <p> Inscribe tus cursos con tu profesor preferido! </p>
        </div>
        <div class="box-c-dark">
            Recomendación: nunca inscribir con Ignacio Parada ni Eduardo Bustos</br> Son jodidamente desgraciados, insufribles y pésimos ramos xD
        </div>
    </div>
    <div class="container-flex">
        <div class="box-c-dark">
            Lorem ipsum insano así de relleno, no se que poner ayuda loco, tengo </br> que rellenar de alguna manera 
        </div>
        <div class="box-c-dark">
            Contenido x
        </div>
    </div>
    <div class="container-flex">
        <div class="box-c-dark">
            Contenido x
        </div>
        <div class="box-c-dark">
            Contenido x
        </div>
    </div>
</div>

{% endblock %}
